numpy==1.16.0
scipy==1.4.1
pandas==0.25.0
jupyter==1.0.0
matplotlib==3.1.2
seaborn==0.10.1
sklearn==0.0
blitz-bayesian-pytorch==0.2.5
torch~=1.7.1
typing-extensions=3.7.4.3
tqdm==4.56.0
scikit-learn~=0.24.0
gpytorch~=1.4.0
due~=1.0
umap~=0.1.1